<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ScoringModelVersion" value="v1.3" />
  </appSettings>

  <connectionStrings>
    <add name="ContosoDb"
         connectionString="Server=.;Database=ContosoInsurance;User Id=contoso_app;Password=P@ssw0rd!;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ClaimScoringSoap" maxReceivedMessageSize="1048576" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="ContosoInsurance.Services.ClaimScoringService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="ClaimScoringSoap"
                  contract="ContosoInsurance.Services.IClaimScoringService" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
